#titleBox {
	background-color: red;
	font-size: 22;
	color: blue;
	border-radius: 25px;
	padding: 2px;
}

#wrapper {
 background-color: rgb(0, 51, 153);
 padding: 10px;
}

#bigBlueBox {
	background-color: rgb(0, 0, 102);
	width: 970px;
	display: inline-block;
	color: white;
	vertical-align: top;
	margin: 5px;
	padding: 10px;
	border-radius: 25px;
    
}

h1 {
	font-size: 22;
	text-decoration-style: bold;
}

.firstWord {
	text-decoration: underline;
	color: rgb(51, 153, 255);
}

.values {
 color: rgb(102, 0, 255);
 text-decoration: underline;
}

#blueSideBox {
	display: inline-block;
	background-color: rgb(51, 153, 255);
	width: 200px;
	vertical-align: top;
	padding: 5px;
	border-radius: 25px;
}  

.littleBoxList {
	text-decoration: underline;
	color: purple;
}

#bottomBox {
	display: block;
	background-color: grey;
	border-radius: 25px;
}

#bottomLastWord {
	text-decoration: underline;
	color: rgb(102, 153, 255);
}

#bottomBoxText {
	color: white;
	padding: 5px;
}
